<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="logs.dao.ILogsDao">

    <!--添加-->
    <insert id="add" parameterType="logs.entity.LogsEntity">
        insert into `logs`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logs != null">
                logs,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logs != null">
                #{logs},
            </if>
            CURRENT_DATE(),
        </trim>
    </insert>

    <!--删除-->
    <delete id="delete" parameterType="logs.entity.LogsEntity">
        delete from `logs`
        <where>
            <if test="logId != null">
                and logId=#{logId}
            </if>
            <if test="logId == null">
                and 1 = 0
            </if>
            and createTime = CURRENT_DATE()
        </where>
    </delete>

    <!--固定条件查询-->
    <select id="select" parameterType="logs.entity.LogsEntity"
            resultType="logs.entity.LogsEntity">
        select
        logId as "logId",
        logs as "logs",
        createTime as "createTime"
        from `logs`
        <where>
            <if test="logId != null">
                and logId=#{logId}
            </if>
            <if test="logs != null">
                and logs=#{logs}
            </if>
            <if test="createTime != null">
                and createTime=#{createTime}
            </if>
        </where>
        <if test="orderStr != '' and orderStr != null">
            order by ${orderStr}
        </if>
        <if test="start != null and pageSize != null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <!--分页（模糊查询的公共条件）-->
    <sql id="likeSelectConditions">
        <if test="logId != null and logId != '' ">
            and logId <![CDATA[=]]> #{logId}
        </if>
        <if test="logs != null and logs != '' ">
            and logs <![CDATA[=]]> #{logs}
        </if>
        <if test="createTime != null and createTime != '' ">
            and createTime <![CDATA[=]]> #{createTime}
        </if>
    </sql>

    <!--分页（模糊）查询-->
    <select id="likeSelect" parameterType="logs.entity.LogsEntity"
            resultType="logs.entity.LogsEntity">
        select
        logId as "logId",
        logs as "logs",
        createTime as "createTime"

        from `logs`

        <where>
            <include refid="likeSelectConditions"/>
        </where>

        <if test="orderStr != '' and orderStr != null">
            order by ${orderStr}
        </if>
        <if test="start != null and pageSize != null">
            limit #{start},#{pageSize}
        </if>


    </select>

    <!--分页（模糊）查询条数-->
    <select id="likeSelectCount" parameterType="logs.entity.LogsEntity"
            resultType="java.lang.Long">
        select
        count(1)
        from `logs`

        <where>
            <include refid="likeSelectConditions"/>
        </where>
    </select>

</mapper>